@use 'variables';

#about{
    &-a{
        .info{
            display: grid;
            grid-template-columns: 2fr 3fr;
            gap: 1rem;

            &__image{
                max-width: 100%;
                border: .1rem solid variables.$light-color;
                padding: .5rem;
                border-radius: .3rem; 
            }

            
            &__bio{
                border: .1rem solid variables.$light-color;
                padding: 1rem;
            }
        }
    }

    &-b{
        color: #fff;
        margin-bottom: 1rem;
        .progress-bars{
            h4{
                text-align: start;
                margin-bottom: .5rem;
            }
        }

        .progress{
            height: 2rem;
            background-color: variables.$medium-color;
            border-radius: .5rem;
            margin-bottom: .8rem;

            div{
                height: 100%;
                text-align: center;
                background-color: variables.$primary-color;
                border-radius: .5rem;
            }
        }
    }

    &-c{
        .about-logos{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            align-items: center;

            img{
                width: 70%;
            }
        }
    }

    &-d{
        .referances{
            ul{
                display: flex;
                list-style: none;
                margin-top: 1rem;
                align-items: center;
            }

            p{
                border: .1rem solid variables.$medium-color;
                border-radius: .5rem;
                padding: .5rem;
            }

            img{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                padding-right: .5rem;
            }
        }
    }
}